*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header-section */
.header-section{
   
   background-image:url('../images/banner/banner2.png'
   );
   height: 800px;
   width: 1600px;
    margin: 0 auto;
    text-align: right;
    background-repeat: no-repeat;
   
}
.header-section-title{
    padding:253px 207px 0px 0px ;
    font-size 75px;
    font-weight: 800; 
}
.header-description{
    padding: 24px 207px 0px 0px;
    font-size: 18px;
    font-weight: 400;
}
.primary-btn{

    margin: 32px 207px 0px 0px  ;
    background-color:#F15B22
    ;
    padding: 20px 25px ;

}